@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap");
@import url("content.css");
@import url('submited.css');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --orange: #fb7413;
  --white: #f0f0f0;
  --light-grey: hsl(217, 12%, 63%);
  --medium-grey: hsl(216, 12%, 54%);
  --blue: hsl(213, 20%, 23%);
  --dark-blue: hsl(213, 20%, 18%);
  --very-dark-blue: hsl(216, 12%, 8%);
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

body {
  font-family: "Overpass", sans-serif;
  font-size: 0.95em;
  color: var(--white);
  background-color: var(--very-dark-blue);
  height: 100vh;
}

ol, ul{
    list-style: none;
}

button{
    outline: none;
    border: none;
}

section{
  background-color: var(--dark-blue);
  flex-direction: column;
  width: 390px;
  border-radius: 16px;
  padding: 30px;
  row-gap: 32px;
}
